@using Snake.Models.API
@model Snake.Game.Game



@section Head{
    <script src="~/js/SnakeTableUpdater.js"></script>
    <script src="~/js/SnakeStatusUpdater.js"></script>
    <script>
        let tableupdater = new SnakeTableUpdater(500, "snakeTable");
        tableupdater.Start();
        let statusupdater = new SnakeStatusUpdater(500, "snakeStatus");
        statusupdater.Start();
    </script>
    <script>
        document.addEventListener("keydown", snakeTableKeyDown);

        let lastKeyPressed=undefined;
        function snakeTableKeyDown(args){
            if(lastKeyPressed !== args.key)

            switch(args.key){
                case "ArrowUp":{
                    $.ajax("API/GoUp");
                    break;
                }
                case "ArrowDown":{
                        $.ajax("API/GoDown");
                    break;
                }
                case "ArrowLeft": {
                        $.ajax("API/GoLeft");
                        break;
                    }
                case "ArrowRight": {
                        $.ajax("API/GoRight");
                        break;
                    }
                default: break;

            }
            console.log(args);
        }
    </script>
    <link rel="stylesheet" href="css/snakeField.css"/>

}

<div>
    <table>
        <tr>
            <td>
                <div id="snakeTable" class="snakeTable">
                    @await Html.PartialAsync("/Views/Parts/SnakeTable.cshtml", new GetFieldDataModel(Model))
                </div>
            </td>
            <td>
                <div id="snakeStatus" class="snakeStatus">
                    @await Html.PartialAsync("/Views/Parts/SnakeStatus.cshtml", new SnakeStatusDataModel(Model))
                </div>
            </td>
        </tr>
    </table>
</div>




