@using Snake.Models.API
@model Snake.Game.Game



@section Head{
    <script src="~/js/SnakeTableUpdater.js"></script>
    <script src="~/js/SnakeStatusUpdater.js"></script>
    <script src="~/js/SnakeStatusGetter.js"></script>
    <script>
        let tableupdater = new SnakeTableUpdater(100, "snakeTable");
        tableupdater.Start();
        let statusupdater = new SnakeStatusUpdater(100, "snakeStatus");
        statusupdater.Start();
        let snakeStatusGetter = new SnakeStatusGetter(100);
        snakeStatusGetter.Start();
    </script>

    <script>
        document.addEventListener("keydown", snakeTableKeyDown);

        let lastKeyPressed = undefined;
        let lockKey = undefined;

        function snakeTableKeyDown(args){
            if (lastKeyPressed !== args.key) {

                switch (args.key) {
                    case "ArrowUp":{
                        if (lockKey != "ArrowDown"){
                            $.ajax("API/GoUp");
                            lockKey = args.key;
                        }
                        break;
                    }
                    case "ArrowDown":{
                        if (lockKey != "ArrowUp"){
                            $.ajax("API/GoDown");
                            lockKey = args.key;
                        }
                        break;
                    }
                    case "ArrowLeft": {
                        if (lockKey != "ArrowRight"){
                            $.ajax("API/GoLeft");
                            lockKey = args.key;
                        }
                        break;
                    }
                    case "ArrowRight": {
                        if (lockKey != "ArrowLeft"){
                            $.ajax("API/GoRight");
                            lockKey = args.key;
                        }
                        break;
                    }
                    default: break;
                }
            }
        }
    </script>

    <link rel="stylesheet" href="css/snakeField.css"/>

}

<div>
    <table>
        <tr>
            <td>
                <div id="snakeTable" class="snakeTable">
                    @await Html.PartialAsync("/Views/Parts/SnakeTable.cshtml", new GetFieldDataModel(Model))
                </div>
            </td>
            <td>
                <div id="snakeStatus" class="snakeStatus">
                    @await Html.PartialAsync("/Views/Parts/SnakeStatus.cshtml", new SnakeStatusDataModel(Model))
                    
                </div>
            </td>
        </tr>
    </table>
</div>




