@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Велкам ту зе гейм</h1>
    <p>Получить некоторую инфу можно <a asp-area="" asp-controller="Home" asp-action="Privacy">тут</a>.</p>
</div>
