@{
    ViewData["Title"] = "Инфа о проекте";
}
<h1>@ViewData["Title"]</h1>

<p>Проект Змий разработан исключительно в учебных целях! <br /> A посему, прошу не судить строго... Ибо не ведаем, что творим...</p>
