@model Snake.Models.API.GetFieldDataModel

@{
    <table>
        @for (int tr_counter = 0; tr_counter < Model.FeildHight; tr_counter++)
        {
            <tr>
                @for (int td_counter = 0; td_counter < Model.FieldWidth; td_counter++)
                {
                    @switch (Model.FieldData[tr_counter][td_counter])
                    {
                        case 1://apple
                            {
                                <td style="background: green;">
                                </td>
                                break;
                            }
                        case 2://snake body
                            {
                                <td style="background: darkgray;">
                                </td>
                                break;
                            }
                        case 3://snake head
                            {
                                <td style="background: black;">
                                </td>
                                break;
                            }
                        default:
                            {
                                <td>
                                </td>
                                break;
                            }
                    }
                }

            </tr>
        }

    </table>
}
